<%@ Master Language="C#" AutoEventWireup="true" CodeFile="site.master.cs" Inherits="MasterPage" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit, Version=3.5.40412.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" %>

<!DOCTYPE html>

<html lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'/>
    <link href="assets/style/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/style/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/style/slick.css" rel="stylesheet" />
    <link href="assets/style/cloud-zoom.css" rel="stylesheet" />
    <link href="assets/style/animate.css" rel="stylesheet" />
    <link href="assets/style/jquery-ui.css" rel="stylesheet" />
    <link href="assets/style/style-master.css" rel="stylesheet" />
    <link href="assets/style/site-repond.css" rel="stylesheet" />
    <link href="assets/style/jquery.fancybox.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <style type="text/css">
            .corner
            { 
                behavior: url(PIE.htc); 
            }
            .fullbox-img
            {
	            -ms-behavior: url(backgroundsize.min.htc);
	            behavior: url(backgroundsize.min.htc);
            }
        </style>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title></title>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--active menu-->
    <script type="text/javascript">
        function changeActiveMenu(page) {
            $('#menu li').removeClass("active");
            $('#menu li a[href*="' + page + '"]').parent("li").addClass("active");
        }
        function changeSubActiveMenu(page) {
            $('#menu li li').removeClass("active");
            $('#menu li li a[href$="' + page + '"]').parents("li").addClass("active");
            $('.menu-list li').removeClass("active");
            $('.menu-list li a[href$="' + page + '"]').parents("li").addClass("active");
            var value1 = $('a.a-link-tkia').attr('href');
            $('.list-product a').removeClass("active");
            $('.list-product a[href$="' + value1 + '"]').addClass("active");
            var value2 = $('a.a-link-sxtk').attr('href');
            $('.list-product a[href$="' + value2 + '"]').addClass("active");
            var value3 = $('a.a-link-snp').attr('href');
            $('.list-product a[href$="' + value3 + '"]').addClass("active");
        }
    </script>
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
    z.set.
_.push(o)
}; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?472gNmT0fFXgIQr9kuqK05TnAvAn07bh"; z.t = +new Date; $.
type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
</script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </asp:ToolkitScriptManager>
        <div id="wrapper">
            <div id="wrapper-in">
                <div id="header">
                      <div class="container">
                          <div class="logo"><a  href="~/" runat="server"><img class="img-responsive" src="assets/images/logo.png" alt=""/></a></div>
                          <div class="header-right">
                              <a class="panel-a menu-mo ipadmo-992" href="#menumobile" data-position="true" data-type="false">
                                <span class="fa fa-reorder"></span>Menu</a>
                          </div>
                          <ul id="menu" class="desktop-992">
                            <%--<li class="icon-home"><a id="A3" href="~/" runat="server"><i class="fa fa-home"></i></a></li>--%>
						    <li><a href="gioi-thieu.aspx">giới thiệu</a></li>
                            <li><a href="thiet-ke-in-an.aspx">thiết kế in ấn</a>
                                <%--<ul>
                                    <li><a href="#">content</a></li>
                                    <li><a href="#">content</a></li>
                                    <li><a href="#">content</a></li>
                                    <li><a href="#">content</a></li>
                                </ul>--%>
                            </li>
						    <li><a href="san-xuat-the-cao.aspx">sản xuất thẻ cào</a></li>
                            <li><a href="seal-niem-phong.aspx">seal niêm phong</a></li>
                            <li><a href="khachhang.aspx">khách hàng</a></li>
                            <li><a href="tin-tuc.aspx">tin tức</a></li>
                            <li><a href="lien-he.aspx">liên hệ</a></li>
                          </ul>
                          <div class="clearfix"></div>
                      </div>
			    </div>
            
       
            <div id="main-content">
                <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
                </asp:ContentPlaceHolder>
            </div>
                <div class="clr"></div>
            
            </div>
            
        <!--menumobile-->
        <div id="menumobile" class="mobile-panel mobilep-left">
            <div class="close-menu">
                <a href="#menumobile" class="glyphicon glyphicon-remove-circle">close</a></div>
            <div class="menu-in">
                <div class="menu-mobile">
                    <div class="logo">
                        <a id="A2" href="~/" runat="server">
                            <img class="img-responsive" src="assets/images/logo.png" alt="logo" /></a>
                    </div>
                    <ul id="menuMobiles" class="menu-nav">
                            <li class="home"><a href="~/" runat="server">Trang chủ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--menumobile-->
       </div>
     
        <div id="runScript" runat="server"></div>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/jquery.panel.mobile.js"></script>
        <script src="assets/js/jquery.bgbox.js"></script>
        <script src="assets/js/jquery.textheight.js"></script>
        <script src="assets/js/cloud-zoom.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript">
            
            $(document).ready(function () {
                $(".panel-a").mobilepanel();
                $("#menu > li").not(".home").clone().appendTo($("#menuMobiles"));
                $("#menuMobiles input").remove();
                $("#menuMobiles > li > a").append('<span class="fa fa-chevron-circle-right iconar"></span>');
                $("#menuMobiles li li a").append('<span class="fa fa-angle-right iconl"></span>');
                $("#menu li:last-child").addClass("last");
                $("#menu li:first-child").addClass("fisrt");
                /*==============banner-full=====================*/
                $(".full-img").each(function () {
                    var srcimg = $(this).attr("data-img");
                    $(this).css({ "background-image": "url(" + srcimg + ")" });
                });
                rehbanner();
                /*===================*/
                $('#sliderBanner').slick({
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                    infinite: true,
                    speed: 500,
                });
                $(".fancybox").fancybox({
                    wrapCSS: 'zoom-fancybox',
                    padding: 10,
                    openEffect: 'elastic',
                    closeEffect: 'elastic'
                });
                myfunload();
                mypageload();
            });
            /*==============================function=====================*/
            function myfunload() {
                $('.panel-heading a[data-toggle="collapse"]').click(function () {
                    $('.panel-heading').removeClass('actives');
                    $(this).toggleClass("current").parents('.panel-heading').addClass('actives');
                    $('.panel-heading').each(function () {
                        if (!$(this).hasClass("actives")) {
                            $(this).find('a[data-toggle="collapse"]').removeClass("current");
                        }
                    });
                });
                $(function () {
                    $("#tabs").tabs();
                });
                if ($('#silderPartner').size() == 1)
                    var silderPartner = $('#silderPartner').imagesLoaded(function () {
                        silderPartner.slick({
                            autoplay: true,
                            autoplaySpeed: 3000,
                            //cssEase: 'linear',
                            dots: false,
                            infinite: true,
                            speed: 300,
                            slidesToShow: 6,
                            slidesToScroll: 1,
                            //prevArrow: $(".control-slider .prev"),
                            //nextArrow: $(".control-slider .next"),
                            arrow: true,
                            responsive: [
                                {
                                    breakpoint: 1200,
                                    settings: {
                                        slidesToShow: 5
                                    }
                                },
                              {
                                  breakpoint: 1000,
                                  settings: {
                                      slidesToShow: 4
                                  }
                              },
                              {
                                  breakpoint: 650,
                                  settings: {
                                      slidesToShow: 3
                                  }
                              },

                              {
                                  breakpoint: 510,
                                  settings: {
                                      slidesToShow: 2
                                  }
                              },
                              {
                                  breakpoint: 370,
                                  settings: {
                                      slidesToShow: 1
                                  }
                              }

                              // You can unslick at a given breakpoint now by adding:
                              // settings: "unslick"
                              // instead of a settings object
                            ]
                        });
                        silderPartner.textHeight({
                            activetit: true,
                            listcss: [{ cssname: ".product-img" }],
                            desbool: false,
                            listpos: [{ cssnamepos: ".description", cssheightnum: "3" }],
                            tbrow: false,
                            csstr: ".element-item",
                            max: true
                        });
                    });
                    
                if ($("#sliderDetails").size() == 1) {
                    var bigimg = $(".small-img:first").attr("href");
                    var smallimg = $(".small-img:first").attr("data-img");
                    $(".cloud-zoom").attr("href", bigimg).find("img:first").attr("src", smallimg);
                    jQuery('.cloud-zoom').CloudZoom();

                    $('#sliderDetails .slider-for').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        infinite: false,
                        fade: true,
                        asNavFor: '#sliderDetails .slider-nav'
                    });
                    $('#sliderDetails .slider-nav').slick({
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        asNavFor: '#sliderDetails .slider-for',
                        dots: false,
                        infinite: false,
                        autoplay: true,
                        //centerMode: true,
                        focusOnSelect: true
                    });
                    $('#sliderDetails .slider-nav').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                        var bigimg = $("#sliderDetails .slider-nav .slick-slide:eq(" + nextSlide + ") .small-img").attr("href");
                        var smallimg = $("#sliderDetails .slider-nav .slick-slide:eq(" + nextSlide + ") .small-img").attr("data-img");
                        $(".cloud-zoom").attr("href", bigimg).find("img:first").attr("src", smallimg);
                        jQuery('.cloud-zoom').CloudZoom();
                    });
                }
                 mymap();
              
            }
            /*=========================*/
            function mypageload() {
                myListTb();
            }
            /*========================================================================*/
            function myListTb() {
                if ($('.product-tb').size() > 0) {
                    var producttb = $('.product-tb').imagesLoaded(function () {
                        producttb.textHeight({
                            activetit: true,
                            listcss: [{ cssname: ".product-img" }, { cssname: ".product-name" }],
                            wpointb: true,
                            //widthpont: 479,
                            desbool: false,
                            listpos: [{ cssnamepos: ".description", cssheightnum: "3" }],
                            tbrow: true,
                            csstr: ".element-item",
                            max: true
                        });
                        setTimeout(function () {
                            producttb.isotope({
                                itemSelector: '.element-item',
                                layoutMode: 'fitRows'
                            });
                        }, 100);
                    });
                }

                if ($('.partner-tb').size() > 0) {
                    var partnertb = $('.partner-tb').imagesLoaded(function () {
                        partnertb.textHeight({
                            activetit: true,
                            listcss: [{ cssname: ".partner-img" }, { cssname: ".partner-name" }],
                            wpointb: true,
                            //widthpont: 479,
                            desbool: false,
                            listpos: [{ cssnamepos: ".description", cssheightnum: "3" }],
                            tbrow: true,
                            csstr: ".element-item",
                            max: true
                        });
                        setTimeout(function () {
                            partnertb.isotope({
                                itemSelector: '.element-item',
                                layoutMode: 'fitRows'
                            });
                        }, 100);
                    });
                }

                if ($('.gallery-bg').size() > 0) {
                    var gallerybg = $('.gallery-bg').imagesLoaded(function () {
                        gallerybg.textHeight({
                            activetit: true,
                            listcss: [{ cssname: ".gallery-img" }],
                            wpointb: true,
                            //widthpont: 479,
                            desbool: false,
                            //listpos: [{ cssnamepos: ".description", cssheightnum: "3" }],
                            tbrow: true,
                            csstr: ".element-item",
                            max: true
                        });
                        setTimeout(function () {
                            gallerybg.isotope({
                                itemSelector: '.element-item',
                                layoutMode: 'fitRows'
                            });
                        }, 100);
                    });
                }

            }
            /*========function-banner-full======*/
            function rehbanner() {
                hiehgtbanner();
                $(window).resize(function () {
                    setTimeout(function () {
                        hiehgtbanner();
                    }, 100);
                });
            }
            function hiehgtbanner(hwin) {
                var hwin = $(window).height();
                $(".full-img").height(hwin);
            }
            /*===============================*/
            $('#menu > li').hover(function () {
                $(this).children('ul').stop(true, false, true).slideToggle(300);
            });
            //==================
            function mymap() {
                mympp();
                var timeout;
                $(window).resize(function () {
                    clearTimeout(timeout);
                    setTimeout(function () {
                        mympp();
                    }, 500);
                });
            }
            function mympp() {
                $('#mapwrap').remove();
                if ($(window).width() > 768) {
                    $('#mapshow').append('<div id="mapwrap"><iframe id="iframe" src="map.aspx" frameborder="0" height="100%" width="100%"></iframe></div>');
                }
            }
            </script>
    </form>
</body>
</html>
