<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-3"> 
                <col class="col-xs-3">
                <col class="col-xs-3">
                <col class="col-xs-3">
            </colgroup> 
            <tbody>
                <tr">
                    <th class="th-table" scope="row">Số lượng</th>
                    <td><strong>5 hộp</strong> (1 nội dung)</td>
                    <td><strong>10 hộp</strong> (1 nội dung)</td>
                    <td><strong>20 hộp</strong> (1 nội dung)</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Loại giấy</th>
                    <td>Bristol 280 gsm</td>
                    <td>Bristol 280 gsm</td>
                    <td>Bristol 280 gsm</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">In offset 4 màu</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Cán màng mờ</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Bo góc</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Số mặt</th>
                    <td>2 mặt</td>
                    <td>2 mặt</td>
                    <td>2 mặt</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Kích thướt thành phần</th>
                    <td>5,3 x 8,8 cm</td>
                    <td>5,3 x 8,8 cm</td>
                    <td>5,3 x 8,8 cm</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Thời gian</th>
                    <td>3 - 4 ngày</td>
                    <td>3 - 4 ngày</td>
                    <td>3 - 4 ngày</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Giao hàng</th>
                    <td>Tận nơi</td>
                    <td>Tận nơi</td>
                    <td>Tân nơi</td>
                </tr>
                <tr>
                    <th class="th-table" scope="row">Giá</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table> 
    </div>

</body>
</html>